<% provide(:title, 'Contact') %>
    <h1>Contact</h1>
    <p>
      This is just a rails tutorial. However if you stumble on
      this page & want to contact me, you can find me 
      <a href="mailto:dayamayii@pobox.com>here</a>
    </p>
